<div class="flex items-center justify-center h-full w-full">
  <div class="w-full max-w-md text-white bg-black bg-opacity-50 rounded-lg p-8">
    <h2 class="text-2xl font-semibold mb-4">Add a new food</h2>
    <%= form_with model: @food, url: foods_path, class: "space-y-4", id: "food_form" do |f| %>
      <div class="space-y-2">
        <%= f.label :name, class: "block font-semibold text-white" %>
        <%= f.text_field :name, autofocus: true, class: "w-full p-2 border text-black rounded-lg focus:outline-none focus:border-blue-500", placeholder: "Apple" %>
      </div>

<div class="space-y-2">
  <%= f.label :measurement_unit, class: "block font-semibold text-white mt-2" %>
  <%= f.select :measurement_unit, @measurement_units, {}, { class: "w-full p-2 border text-black rounded-lg focus:outline-none focus:border-blue-500" } %>
</div>

      <div class="space-y-2">
        <%= f.label :price, class: "block font-semibold text-white" %>
        <%= f.text_field :price, autocomplete: "price", class: "w-full p-2 border text-black rounded-lg focus:outline-none focus:border-blue-500", placeholder: "LE/$" %>
      </div>

      <div class="space-y-2">
        <%= f.label :quantity, class: "block font-semibold text-white" %>
        <%= f.number_field :quantity, autofocus: true, class: "w-full p-2 border text-black rounded-lg focus:outline-none focus:border-blue-500", placeholder: "Quantity" %>
      </div>

      <div class="mt-4">
        <%= f.submit "Add food", class: "w-full py-2 px-4 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-600" %>
      </div>
    <% end %>
  </div>
</div>

