<!DOCTYPE html>
<html>
  <head>
    <title>Ultimate Recipe Assistant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "navigation", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="min-h-screen bg-cover bg-fixed bg-center bg-no-repeat bg-background-image">
    <div class="overlay fixed inset-0 h-full bg-black opacity-50"></div>
<% flash.each do |key, message| %>
  <div class="bg-blue-200 text-blue-800 fixed border-l-4 border-blue-500 p-4 mb-4" role="alert">
    <%= message %>
  </div>
<% end %>

  <%= render partial: "shared/navigation" %>
  <div class="container mx-auto">
    <%= yield %>
  </div>
  </body>
</html>

